In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
sql sqlite:///parciaal1.db

'Connected: @parciaal1.db'

In [9]:
%%sql  
CREATE TABLE paciente(Id_Paciente INT PRIMARY KEY, Nombre STRING, edad INT, departamento STRING, Fecha_Inicio DATE, Fecha_Contagio DATE);

 * sqlite:///parciaal1.db
   sqlite:///parcial1.db
Done.

[]

In [13]:
%%sql  
CREATE TABLE Fallecimiento(Id_Paciente INT PRIMARY KEY, Id_Defuncion INT, Fecha_Defuncion DATE);

 * sqlite:///parciaal1.db
   sqlite:///parcial1.db
(sqlite3.OperationalError) table Fallecimiento already exists
[SQL: CREATE TABLE Fallecimiento(Id_Paciente INT PRIMARY KEY, Id_Defuncion INT, Fecha_Defuncion DATE);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [15]:
%%sql  
CREATE TABLE Enfermedad(Id_Enfermedad INT, Id_Paciente INT, Nombre_Enfermedad STRING);

 * sqlite:///parciaal1.db
   sqlite:///parcial1.db
(sqlite3.OperationalError) table Enfermedad already exists
[SQL: CREATE TABLE Enfermedad(Id_Enfermedad INT, Id_Paciente INT, Nombre_Enfermedad STRING);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [16]:
%%sql  
CREATE TABLE Departamento(Id_Paciente INT, Id_Departamento INT, Nombre_Departamento STRING);

 * sqlite:///parciaal1.db
   sqlite:///parcial1.db
Done.

[]